# Arquivos executáveis e binários
*.exe
*.obj
*.pdb
*.ilk
*.log

# Pastas de configuração e compilação do Visual Studio
.vs/
Debug/
Release/
x64/
x86/

# Arquivos de usuário (posicionamento de janelas, etc)
*.user
*.suo
